html {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 background: rgb(120, 120, 120);
}

a {
 text-decoration: none;
}

/* header */
.document-title {
 text-align: center;
 text-transform: uppercase;

 font-size: 120px;
 font-weight: 700;

 color: #101f09;
}

.navigation-content {
 display: flex;
 justify-content: space-between;
 background-color: #101f09;
}

.navigation-list {
 width: 15%;
 background-color: #575f54;
}

.navigation-link {
 color: #120101;
 text-decoration: none;
 font-size: 30px;
}

/* main */
.photo {
 width: 30%;
 border-radius: 50px;

 display: block;
 margin: 0 auto;
}

.main-title {
 text-align: center;
 padding-top: 30px;

 font-size: 80px;
 font-weight: 700;

 color: #101f09;
}

/* footer */
.footer {
 display: flex;
 justify-content: space-around;

 background-color: #ffffff;
}

.copyright {
 width: 50%;
 font-size: 50px;
}

.rsschool-logo {
 /* original logo width: 800px, height: 198px */
 padding: 50px 20px;
 width: 10%;
 height: 10%;
}